<!-- src/views/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>index</title>
  </head>
  <body>
    <h1>{{name}}</h1>
    <p>恭喜~ 服务成功跑起来啦</p>
    <p>
      接口文档 👉 <a href="https://apifox.com/apidoc/shared-6af432f7-e747-42a0-b64d-058b9b288df0/api-70897715">📖接口文档</a>
    </p>
    <iframe
      src="https://apifox.com/apidoc/shared-6af432f7-e747-42a0-b64d-058b9b288df0/api-70897715"
      width="100%"
      height="900px"
    ></iframe>
  </body>
</html>
